<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

    {% extends 'base.html' %}
    {% import 'macros.html' as macros %}


    {% block title %}
    {{super()}}
    Bienvenido
    {% endblock %}

    {% block content %}
        {%if user_ip %}
            <h1>Hello World Flask!, your ip is {{user_ip}}</h1>
        {% else %}
             <a href="{{url_for('index')}}">Ir a inicio</a>
        {% endif %}
        <ul>
            {% for todo in todos %}
           <!-- <li>{{todo}}</li>-->
                {{macros.render_todo(todo)}}
            {% endfor %}
        </ul>
    {% endblock %}
</body>

</html>